<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Contextconfig</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
  <param-name>Institute</param-name>
  <param-value>Hefshine Institute</param-value>
  
  </context-param>
  <servlet>
    <description></description>
    <display-name>Batches</display-name>
    <servlet-name>Batches</servlet-name>
    <servlet-class>com.institute.com.Batches</servlet-class>
    <init-param>
    <param-name>Batches</param-name>
    <param-value>morning</param-value>
    </init-param>
    
    <init-param>
    <param-name>Trainer</param-name>
    <param-value>Amit sir</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Batches</servlet-name>
    <url-pattern>/Batches</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InstituteServlet</display-name>
    <servlet-name>InstituteServlet</servlet-name>
    <servlet-class>com.institute.com.InstituteServlet</servlet-class>
    <init-param>
    <param-name>Batch</param-name>
    <param-value>October</param-value>
    </init-param>
    <init-param>
    <param-name>Trainer</param-name>
    <param-value>snehali mam</param-value>
    </init-param>
    
    
  </servlet>
  <servlet-mapping>
    <servlet-name>InstituteServlet</servlet-name>
    <url-pattern>/InstituteServlet</url-pattern>
  </servlet-mapping>
</web-app>