<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Configcon1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>University</param-name>
    <param-value>savitribai phule</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>University</display-name>
    <servlet-name>University</servlet-name>
    <servlet-class>com.hef.com.University</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>University</servlet-name>
    <url-pattern>/University</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Coep</display-name>
    <servlet-name>Coep</servlet-name>
    <servlet-class>com.hef.com.Coep</servlet-class>
    <init-param>
    <param-name>Coep</param-name>
    <param-value>www.coep.com</param-value></init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Coep</servlet-name>
    <url-pattern>/Coep</url-pattern>
  </servlet-mapping>
</web-app>